body {
  margin: 1rem;
  border: 1px solid black;
  padding: 5px;
}

/* Simple Selector -  DO NOT UNCOMMENT */
.general-selector div {
  color: red;
}

/* DESCENDANT COMBINATOR */
.descendant div p {
  background-color: yellow;
}


.child-selector div > p {
  background-color: yellow;
}

.adjacent-sibling div + p {
  background-color: yellow;
}

.general-sibling div ~ p {
  background-color: yellow;
}