body {
  margin: 1rem;
  border: 1px solid black;
  padding: 5px;
}

/* Simple Selector -  DO NOT UNCOMMENT */
.general-selector div {
  color: red;
}

/* DESCENDANT COMBINATOR */
.descendant div p {
  background-color: yellow;
}

/* CHILD SELECTOR */
.child-selector div > p {
  background-color: yellow;
}

/* ADJACENT SELECTOR */
.adjacent-sibling div + p {
  background-color: yellow;
}

/* GENERAL SELECTOR */
.general-sibling div ~ p {
  background-color: yellow;
}